<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.correo}"></td>
                <td>
                    <a th:href="@{/usuarios/detalle/{id}(id=${usuario.id})}">Ver Detalles</a> |
                    <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a> |
                    <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/usuarios/nuevo">Agregar Nuevo Usuario</a>
</body>
</html>